<!DOCTYPE html>
{% load static %}
<script src="{% static 'js/filter_incidents.js' %}"></script> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CrisisTrack{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: white; color: black;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'images/logo.png' %}" alt="CrisisTrack Logo" style="height: 5vw;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                        <li class="nav-item ms-auto me-3">
                            <form class="d-flex" action="{% url 'incident_search' %}" method="GET">
                                <input class="form-control me-2 w-100" type="search" placeholder="Cauta un articol" aria-label="Cauta" name="query">
                                <button class="btn btn-outline-success" type="submit">Cauta</button>
                            </form>
                        </li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'create_incident' %}" class="btn btn-success me-2">Raporteaza incident</a></li> 
                        {% if user.role == 'admin' %}
                            <li><a href="{% url 'incident_list' %}" class="btn btn-success me-2">Lista incidente</a></li> 
                        {% endif %}
                        <li><a href="{% url 'logout' %}" class="btn btn-danger me-2">Deconectare</a></li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="btn btn-success me-2">Autentificare</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'register' %}" class="btn btn-success me-2">Inregistrare</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
