{% extends 'base.html' %}

{% block content %}
<h3>Incidents by Organization</h3>
<img src="data:image/png;base64,{{ image_data }}" alt="Incidents by Organization">

<h3>Incidents Summary by Organization</h3>
<ul>
    {% for incident in incidents_by_organization %}
        <li>{{ incident.organization }}: {{ incident.count }} incidents</li>
    {% endfor %}
</ul>

<h3>Incidents Summary by Date</h3>
<ul>
    {% for incident in incidents_by_date %}
        <li>{{ incident.date }}: {{ incident.count }} incidents</li>
    {% endfor %}
</ul>

<h3>Incidents Summary by Category</h3>
<ul>
    {% for incident in incidents_by_category %}
        <li>{{ incident.category__name }}: {{ incident.count }} incidents</li>
    {% endfor %}
</ul>

{% endblock %}