{% extends 'base.html' %}

{% block content %}

<h2> Ghiduri pentru {{ incident_type }} </h2>
<p>{{ description }}</p>
<h3>Pași de Urmat:</h3>
<ul style="list-style-type: none;">
    {% for step in steps %}
        <li>{{ step }}</li>
    {% endfor %}
</ul>

    {% if video_url %}
        <h3 class="mt-4">Video informativ relevant:</h3>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe 
            width="560" 
            height="315" 
            src="{{ video_url }}" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
        </div>
    {% endif %}

    {% if research_papers %}
        <h3 class="mt-4">Lucrări de cercetare:</h3>
        <ul>
                {% for paper in research_papers %}
                    <li><a href="{{ paper }}" target="_blank">{{ paper }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
{% endblock %}
