{% extends 'base.html' %}

{% block title %}Pagină principală - CrisisTrack{% endblock %}

{% block content %}
<h1>{{ app_name }}</h1>
<p>{{ app_description }}</p>
{% if user.is_authenticated %}
    <p>Bine ai venit, {{ user.first_name }}!</p>
{% else %}
    <p>Te rog <a href="{% url 'login' %}">autentifica-te</a> sau <a href="{% url 'register' %}">inregistreaza-te</a> pentru a incepe.</p>
{% endif %}
<div class="card mt-4" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Ghid de urmat pentru incidente</h5>
        <p class="card-text">Explorează secțiunea de ghiduri pentru a înțelege pașii necesari în gestionarea diferitelor tipuri de incidente.</p>
        <a href="/guidelines" class="btn btn-primary">Vezi Ghidurile</a>
    </div>
</div>
{% endblock %}
